body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #00695c;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #00796b;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    padding: 20px;
    text-align: center;
  }
  
  footer {
    background-color: #004d40;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  